@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  box-sizing: border-box;
}

body {
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  width: 0.75em;
  outline: none;
}

body::-webkit-scrollbar-track {
  background: #F7F8FA;
}

body::-webkit-scrollbar-thumb {
  background: #4d547d;
  border-radius: 100vw;
}

body::-webkit-scrollbar-thumb:hover {
  background: #2c314e;
}